<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <!-- start upper bar -->
    <div class="upper-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm" id="phonemail">
                <i class="bi bi-telephone-fill"></i> +201003789672  <i class="bi bi-envelope-fill"></i> mouhammedsaed@gmail.com
                </div>
                <div class="col-sm" id="letswork">
                Let's work togther, Get quote
                </div>
            </div>
        </div>
    </div>
    <!-- end upper bar -->

    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- brand name -->
            <a class="navbar-brand" href="#">Tasky <span>App</span></a>
            <!-- left button for mobile phones -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- all the links in the navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- start of the left (default) part -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- 1st link -->
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!-- 2ed link -->
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <!-- 3rd link and it is a dropdown -->
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Task
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/views/tasks.html">All tasks</a></li>
                        <li><a class="dropdown-item" href="#">Create new</a></li>
                        <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something</a></li> -->
                    </ul>
                    </li>
                    <!-- 4th link -->
                    <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <!-- end of the left content -->
                <div class="navbar-nav" id="navbarDropdownDiv">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" id="signOutButton">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!-- start signup form -->
    <main class="form-signup text-center" id="mainArea">
        <form method="post" action="" id="signupForm">
            <img src="/taskapp logo.png" alt class="logo">
            <h1 class="">Sign <span>up</span></h1>
            <p class="" role="alert" id="signupFormAlert"></p>
            <div class="form-floating">
                <input class="form-control" type="text" id="name" placeholder="Enter your name" name="name">
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="email" id="email" placeholder="Email" name="email">
                <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" id="password" placeholder="Password" name="password">
                <label class="form-label" for="password">Password</label>
            </div>
            <!-- <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="Agree">
                    Agree on the terms of service
                </label>
            </div> -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
    </main>
    <!-- end signup form -->

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/signup.js"></script>
</body>
</html>