input[type=text], input[type=password], input[type=email] {
    display: block;
}

div.signup {
    height: 400px;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.heading {
    color: #76868c;
    margin-top: 250px;
    font-size: x-large;
    text-align: center;
}

div.navbar {
    color: #76868c;
    font-size: large;
    text-align: center;
}

div.doc {
    margin-top: 75px;
    margin-left: 200px;
    text-align: left;
    font-size: large;
}

.anchernavbar {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    height: 50px;
    width: 100px;
    line-height: 40px;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 25px;
    margin: 0px 5px 0px 5px;
    box-shadow: 3px 3px 3px rgb(150, 150, 150);
    text-align: center;
    text-decoration: none;
}

.anchernavbar:hover {
    background-color: rgb(255, 161, 255);
    box-shadow: 1.5px 1.5px 3px rgb(150, 150, 150) inset;
}

.anchernavbar:visited {
    color: none;
}